/* ------ MIXINS ------ */
@mixin boxShadow($horizontal, $vertical, $blur, $spread, $rgbaColor) {
  -webkit-box-shadow: $horizontal $vertical $blur $spread $rgbaColor;
  -moz-box-shadow: $horizontal $vertical $blur $spread $rgbaColor;
  box-shadow: $horizontal $vertical $blur $spread $rgbaColor;
}

@mixin centerLink($height) {
  text-align: center;
  height: $height;
  line-height: $height;
}

@mixin flexbox {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}