

/* ------ VARIABLES ------ */
$columnWidth: 100%/12;
$darkestColor: #1B325F;
$draggableBorderColor: #9CC4E4;
$draggableBgColor: #E9F2F9;
$mainColor: #3A89C9;
$accentColor: #F26C4F;
$inputBgColor: #f7f7f7;
$textColor: #949494;
$darkBGtextColor: #fff;
$displayMemoryBorderRadius: 10px;

